:global(:root) {
  --background: #282828;
  --dark-red: #cc241d;
  --dark-green: #98971a;
  --dark-yellow: #d79921;
  --dark-blue: #458588;
  --dark-purple: #b16286;
  --dark-aqua: #689d6a;
  --dark-gray: #928374;

  --foreground: #ebdbb2;
  --light-red: #fb4934;
  --light-green: #b8bb26;
  --light-yellow: #fabd2f;
  --light-blue: #83a598;
  --light-purple: #d3869b;
  --light-aqua: #8ec07c;
  --light-gray: #a89984;

  --screen-sm-min: 576px;
  --screen-md-min: 768px;
  --screen-lg-min: 992px;
  --screen-xl-min: 1200px;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'NFSymbols';
  src: url('/fonts/NFSymbols/SymbolsNerdFontMono-Regular.ttf');
}
